body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
}

header {
    position: absolute;
    top: 40px;
    right: 50px;
    padding: 10px;
    display: flex;
    align-items: baseline; 
    gap: 1em;
}

label {
    margin-left: auto;
}

time, em {
    position: relative;
    right: 10px;
    display: block;
}

em {
    font-size: 14px;
    color: gray;
    font-style: italic;
    top: 35px;
}

time {
    font-weight: bold;
}

.legend {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
    padding: 8px 0;
    font-weight: bold;
    font-size: 14px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.legend-swatch {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    background: var(--color);
    
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}
