body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
}

header {
    position: absolute;
    top: 40px;
    right: 50px;
    padding: 10px;
    display: flex;
    align-items: baseline; 
    gap: 1em;
}

label {
    margin-left: auto;
}

time, em {
    position: absolute;
    right: 10px;
    display: block;
}

em {
    font-size: 14px;
    color: gray;
    font-style: italic;
    top: 35px;
}

time {
    font-weight: bold;
}

.legend {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    justify-content: space-evenly;
    width: 100%; 
    margin-block: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    gap: 8px;
}
.legend-item{
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}
.legend-swatch {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background: var(--color);
    
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}
